.row{
    margin-left:20px;
    color:#FFF;
}
.row_shows{
    display:flex;
    padding: 10px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.row_shows::-webkit-scrollbar{
    display:none;
}

.img_show{
    object-fit:contain;
    width:100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;

}
.img_show:hover{
    transform: scale(1.08);
}

.larger-row{
    max-height: 250px;
}

.larger-row:hover{
    transform: scale(1.09);
}